/* You can add global styles to this file, and also import other style files */
.fill {
    width: 100%;
    .zone-description{
        width: 100%;
        mat-form-field {
            width: 100%;
        }
        
        
    }
}